* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: red;
    text-align: center;
    font-family: Arial, sans-serif;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 {
    font-size: 24px;
}

#cabecera {
    background: #33a;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.75);
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 1em;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: .8em;
}

#post {
    padding: 1em;
}